{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

<!-- auto logout denied -->
{% block auto-logout %}{% endblock auto-logout %}

<!-- Block sidebar content -->
{% block login %}
<a href="{% url 'home' %}" class="btn btn-outline-success" 
style="color: #fff;
background: #009b72;
border-color: #009b72;
box-shadow: none;
padding: 10px 30px;
border-radius: 25px;
transition: 0.5s;
margin-right: 3px;">Home
</a>
{% endblock login %}
{% block content %}
<!-- access less secure ewlhoimqotzanjsb (2)-->
<section class="logcontainer forms">
    <div class="form login" style="animation: fadeIn 2s forwards;">
        <div class="form-content">
            <header>Login</header>
            <form action="#" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="field input-field">
                    <input type="text" placeholder="Username" class="input" name="username">
                </div>
                <div class="field input-field">
                    <input type="password" placeholder="Password" class="password" id="password" name="password">
                    <i class="bx bx-hide eye-icon" onclick="myFunction()"></i>
                </div>
                <div class="form-link">
                    <a href="{% url 'login' %}" target="_blank" class="forget-pass">Forget password?</a>
                </div>
                <div class="field button-field">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
        <div class="line"></div>
        <center>
                <i class="fa-solid fa-people-group" style="color: #96939345; font-size: 100px; margin-left: 10px;"></i>
        </center>
    </div>
</section>
{% endblock content %}