{% extends 'base.html' %}
{% load static %}

{% block title %}Inbox{% endblock title %}
<!-- Typed block -->
{% block typed %}{% endblock typed %}
<!-- Block Image -->
{% block image %}{% endblock image %}
{% block navbar %}{% endblock navbar %}
{% block nav-content %}
<i class="fas fa-envelope" style="color: #8abaae;"></i>&nbsp;&nbsp; <span>Inbox</span>
{% endblock nav-content %}

{% block login %}{% endblock login %}

<!-- block sidebar content -->
{% block sidebar-content %}
<center>
    Welcome <span class="text-success">{{ user.get_username }}</span>,
</center>
<a class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</a>
<a href="{% url 'admin:index' %}" target="_blank" class="btn btn-outline-success btn-sm">Admin</a>
{% endblock sidebar-content %}

<!-- Page content -->
{% block content %}
<div class="full">
    {% block top %}
    <div class="title-tag">
        <div class="welcome">
            Hello <span class="text-success">{{ user.get_username }}</span>,
        </div>
        <!-- DateTime (desktop mode) -->
        {% block datetime %}
        <div class="text-dark" id="desk-datetime" style="font-size: 17px; margin-top: 10px; font-family: unset;">{% now "l, d-m-Y" %} &nbsp;&nbsp;
            <span style="color: #000; font-weight: bold;" id="clock"></span>
        </div>
        {% endblock datetime %}
        <!-- Menu -->
        <div class="sidenav">
            <!-- Overlay -->
            <div id="overlay"></div>
            <div id="mobile-menu" class="mobile-main-menu">
                <div class="text-light" id="mobile-datetime">{% now "l, d-m-Y" %} &nbsp;&nbsp;
                    <span style="color: #ddd; font-weight: bold;" id="clock"></span>
                </div>
                <i class="fa-solid fa-people-group" style="color: rgb(143, 141, 141); font-size: 30px; border-bottom: 2px solid #ddd;"></i>
                <ul>
                    <li><a class="mobile-only" href="{% url 'home' %}">Home</a></li>
                    <li><a class="mobile-only" href="{% url 'admin:index' %}">Admin</a></li>
                    <li><a class="mobile-only" href="{% url 'admin:password_change' %}">Change Password</a></li>
                    <li><a class="mobile-only" href="#" style="border-bottom: 1px solid #333; padding-bottom: 20px;">Bot</a></li>
                    <li><a class="mobile-only" data-bs-toggle="modal" data-bs-target="#logoutModal"><i class="uil uil-signout"></i>&nbsp;Logout</a></li>
                </ul>
            </div>
            <button id="menu-btn" class="hamburger" type="button">
                <span class="hamburger-top"></span>
                <span class="hamburger-middle"></span>
                <span class="hamburger-bottom"></span>
            </button>
        </div>
    </div>
    <div class="sidebar-alt">
        <div class="logo-name">
            <div class="logo-image">
                <i class="fa-solid fa-people-group" style="color: rgb(143, 141, 141); font-size: 30px;"></i>
            </div>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="{% url 'home' %}" title="Home">
                    <i class="uil uil-estate"></i>
                </a></li>
                <!-- <li><a href="#" title="Files">
                    <i class="uil uil-files-landscapes"></i>
                </a></li> -->
                <li><a href="{% url 'admin:index' %}" title="Admin" target="_blank">
                    <i class='bx bx-user'></i>
                </a></li>
                <li><a href="{% url 'admin:password_change' %}" target="_blank" title="Change Password">
                    <i class='bx bx-key bx-flip-horizontal' ></i>
                </a></li>
                <li><a href="#" title="Bot">
                    <i class="fa-regular fa-comment-dots"></i>
                </a></li>
                <!-- <li><a href="#">
                    <i class="uil uil-share"></i>
                </a></li> -->
            </ul>
            <ul class="logout-mode">
                <li><a class="logout" title="Logout" data-bs-toggle="modal" data-bs-target="#logoutModal"><i class="uil uil-signout"></i></a>
                </li>
            </ul>
        </div>
    </div>
    {% endblock top %}
    <br>
    <!-- DASHBOARD -->
    <div class="dashboard">
        <div>
            {% include 'dashboard/dashboard.html' %}
        </div>
        <br>
        <!-- Global search -->
        <form class="top">
            <div class="search-box">
                <i class="fas fa-search" style="z-index: 10;"></i>
                <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search here..." autocomplete="off">
            </div>
            <button class="btn btn-secondary" title="Search"><i class="fas fa-search"></i></button>
            <a href="{% url 'inbox' %}" class="btn btn-dark" style="margin-left: 2px;" title="Refresh"><i class="fas fa-sync-alt" style="margin-top: 8px;"></i></a>
        </form>
    
        <!-- Table of Messages -->
        <div class="col-lg-12 scroll">
            <div style="margin-top: 5px;">
                <table class="table table-sm">
                    <thead class="table-secondary hide">
                        <tr>
                            <th style="width: 15%; border-right: 1px solid rgba(157, 154, 154, 0.758);  border-left: 1px solid rgba(157, 154, 154, 0.758);">Name</th>
                            <th style="width: 15%; border-right: 1px solid rgba(157, 154, 154, 0.758);">Phone</th>
                            <th style="width: 18%; border-right: 1px solid rgba(157, 154, 154, 0.758);">E-mail</th>
                            <th style="width: 18%; border-right: 1px solid rgba(157, 154, 154, 0.758);">Subject</th>
                            <th style="width: 18%; border-right: 1px solid rgba(157, 154, 154, 0.758);">Date</th>
                            <th style="width: 8%; border-right: 1px solid rgba(157, 154, 154, 0.758);">Status</th>
                            <th colspan="2" style="text-align: center; width: 8%; border-right: 1px solid rgba(157, 154, 154, 0.758);">Actions</th>
                        </tr>
                    </thead>
                    <!-- Data from backend -->
                    {% for customer in customers %}
                    <tr id="chktd" class="hide">
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.phone }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.subject }}</td>
                        <td>{{ customer.created_at | date:'d-m-y (H:i)' }}</td>
                        {% if customer.status == 'Pending' %}
                        <td class="text-danger">{{ customer.status }}</td>
                        {% else %}
                        <td class="text-success">{{ customer.status }}</td>
                        {% endif %}
                        <td>
                            <button class="btn btn-secondary btn-sm btn-action" title="Delete Message" data-bs-toggle="modal" data-bs-target="#deleteModal{{ customer.pk }}"><i class="fas fa-trash-alt"></i></button>
                        </td>
                        <td>
                            <a class="btn text-light btn-sm btn-action" title="Read Message" style="background-color: #2e856e;" href="/customers/{{ customer.id }}"><i class="fas fa-envelope"></i></a>
                        </td>
                    </tr>
                    <!-- Modal delete confirmation -->
                    {% include 'modals/delete.html' %}
                    {% endfor %}
                </table>
            </div>
        </div>
        <!-- Pagination -->
        <nav>
            {% if customers.has_other_pages %}
            <ul class="pagination">
                {% if customers.has_previous %}
                <a href="?page=1" class="btn btn-outline-secondary mb-4" style="margin: 5px; border-radius: 10px; border: 1px solid rgba(147, 144, 144, 0.799);">First</a>
                <li class="page-item"><a class="page-link" href="?page={{ customers.previous_page_number }}"><i class="fas fa-angle-double-left"></i></a></li>
                {% else %}
                <li class="page-item disabled"></li>
                {% endif %}
                {% for i in customers.paginator.page_range %}
                {% if customers.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only"></span></span></li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endif %}
                {% endfor %}
    
                {% if customers.has_next %}
                <li class="page-item"><a href="?page={{ customers.next_page_number }}" class="page-link"><i class="fas fa-angle-double-right"></i></a></li>
                <a href="?page={{ customers.paginator.num_pages }}" class="btn btn-outline-secondary mb-4" style="border-radius: 10px; margin: 5px; border: 1px solid rgba(147, 144, 144, 0.799);">Last</a>
                {% else %}
                <li class="page_item disabled"></li>
                {% endif %}
            </ul>
            {% endif %}
        </nav>
    </div>
    <!-- END OF CONTAINER -->
    
    <!-- Content when No messages found from search -->
    <!-- refresh btn -->
    <a href="{% url 'inbox' %}" id="refresh"></a>
</div>
{% block footer %}{% endblock footer %}
{% endblock content %}